default: &default
  adapter: postgresql
  encoding: unicode
  # For details on connection pooling, see rails configuration guide
  # http://guides.rubyonrails.org/configuring.html#database-pooling
  host: localhost
  username: shine
  password: shine
  pool: 5

development:
  <<: *default
  database: shine_development

test:
  <<: *default
  database: shine_test